*~
*#
\.#*
*.bak
*.pid
*.lock
_darcs
\.svn
/index
/log
/store
/nbproject
/nclude
/nclude-dependendcies
config/database.yml
config/ferret_server.yml
config/environment.rb
config/juggernaut_config.yml
semantic.cache