Welcome back to Chrono!

Login at http://<%= @user.company.subdomain %>.<%= $CONFIG[:domain] %>

Your login information
----------------------
Username: <%= @user.username %>
Password: <%= @user.password %>