#content .widget tr:hover a.rtct,#content a.rtct.open {
	visibility: visible;
}
div.rtcf {
	display: none;
}
div.rtcf.open {
	display: block;
}
#content .rtc textarea {
	margin: 5px 0;
	width: 95%;
}
#content .rtc input.checkbox {
	vertical-align: middle;
}
.widget {
	margin-right: 1em;
	padding-bottom: 2.5em;
	z-index: 1;
}
.widget_title {
    color: #757575;
    font-size: 1.3em;
    line-height: 20px;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    font-weight: 700;
    padding-bottom: 10px;
    margin-top: 10px;
    /* padding-left: 0.2em; 
    padding-top: 0.29em;
    /* margin-bottom: 10px; */
}
.widget-config {
	background-color: #fafafa;
	border-left: 4px solid #47acdf;
	color: #333;
	margin: 0;
	margin-right: 14px;
	padding: 1em;
}
.widget-config p {
	font-weight: 700;
	margin: 4px 0 20px 0;
}
.widget-config span {
	/* padding: 0 10em 0 0; */
}
.widget-config label {
    font-weight: bold;
    /* padding-right: 0.3em; */
    display: block;
    padding: 0 0 4px 0;
}
.widget-config,.widget-config select,.widget-config input {
	/* null */
}

 .widget-config .cancel {
 	text-decoration: none;
    position: relative;
    top: 0.2em;
 }


.widget select,.widget input {
	margin: 0 0 10px 0;
}
.widget_content {
	margin-right: 1em;
	z-index: 1;
}
.widget_ghost {
	background: #FFF;
	border: 3px dashed #CC2233;
	filter: alpha(opacity=50);
	margin: 0px;
	margin-right: 1em;
	opacity: 0.5;
	padding: 0;
	position: relative;
}
.widget .page_header {
	padding-right: 0;
}
.widget_title a {
	font-size: 1.1rem;
	letter-spacing: 0em;
	padding-right: 1em;
	text-decoration: none;
}
#widget_col_0,#widget_col_2 {
	padding-left: 1em;	text-decoration: none;
}
a.widget-open {
	color: #a6a6a6;
	float: left;
	/* font-size: 80%; */
	height: 13px;
	margin-top: 6px;
	padding-left: 0px;
	padding-right: 2px;
	width: 13px;
	text-decoration: none;
}
a.widget-collapsed {
	color: #a6a6a6;
	float: left;
	/* font-size: 80%; */
	height: 13px;
	margin-top: 6px;
	padding-left: 0px;
	padding-right: 2px;
	width: 13px;
	text-decoration: none;
}
.widget-config input {
	width: 400px;
	max-width: 40%;
	padding: 0.45em;
    outline: none;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #aaa;
    box-sizing: border-box;
    margin: 0 0 10px 0;
}
input.nolabel {
	background-color: #47acdf;
	padding: 10px;
	width: 80px;
	border: none;
	font-size: 1.0em;
    margin-right: 6px;
}
.widget-config select {
    width: 12em;
    padding: 0.4em;
    max-width: 100%;
    outline: none;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #aaa;
    box-sizing: border-box;
    margin: 0 0 10px 0;
}
.widget-menu {
	float: right;
}
.widget-menu img {
	margin-bottom: -23px;
}
.handle,.widget_draggable {
	cursor: move;
}
.widget_sub_header {
	color: #666666;
	font-size: 1.2rem;
	font-weight: bold;
	margin-bottom: 0.5em;
	padding-left: 1em;
}
.widget_sub_heading {
	color: #666666;
	font-size: 1.2rem;
	font-weight: bold;
	margin-bottom: 0.5em;
}