<%= @user.name %> is inviting you to chat in <%= @room.name %>:

https://<%= @user.company.subdomain%>.<%= $CONFIG[:domain] %>/shout/room/<%= @room.id %>

--
https://<%= @user.company.subdomain%>.<%= $CONFIG[:domain] %>/shout/room/<%= @room.id %>
