
<html>
<head>
<title>Chrono Login</title>
<%= stylesheet_link_merged :tt %>
<style type="text/css">

@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  background-color: #CCCCCC;
  margin: 0;
  padding: 0;
}

#menu {
  color: #423f54;
  font-size: 14px;
  font-weight: bold;
  background-color: #c5cacf;
  margin: 0.5em;
  border: 1px solid #b7b7b7;
}

a {
  color: #47acdf;
  text-decoration: none;
  font-weight: bold;
}
a:hover {
  text-decoration: underline;
}

#container {
  width:715px;
  height: 538px;
  position:relative;
  left: 50%;
  margin-left: -357px; 
}
input:focus, textarea:focus { border: 1px solid #47acdf; }
input, textarea, select { border: 1px solid #AAA; }

#notice {
  width: 384px;
  border: 2px solid red;
  padding: 7px;
  margin-bottom: 10px;
  background-color: #ffffff;
}

#footer {
  text-align:center;
  font-size:11px;
  color: #999;
}

body {
  background: none;
  background-color: #fff;
}

table, td, tr {
  background: none;
}

label {
  color: #555;
  font-size: 17px;
}

.inputbox {
  font-size: 20px;
}

#header {
  height: 75px;
}

#notice {
  color: #000;
}

<% @internal = Customer.find(:first, :conditions => ["(name = 'Internal' or name = ?) AND company_id = ?", @company.name, @company.id]) %>
<% if !@internal.nil? && !@internal.css.nil? && @internal.css.length > 0 %>
<%= @internal.css %>
<% end %>

</style>

<!--[if IE]>
<style type="text/css">
.inputbox {
  font-size: 18px;
}
</style>
<![endif]-->

</head>

<body>
<div id="container">
  <div style="position:absolute;top:210px;left:160px;">
  <table width="450px" cellpadding="0" cellspacing="0" id="login_box">
  <tr><td align="center">
  <% form_tag( {:action => 'validate'}, {:id => "loginform"}) do %>
  <table border="0" cellpadding="2" cellspacing="0" style="width:280px;">
  <tr><td align="left"><label for="username"><strong>Username</strong></label></td></tr>
  <tr><td><input name="user[username]" id="username" type="text" class="inputbox" alt="username" size="12" tabindex="1" /></td></tr>
  <tr><td align="left"><label for="password"><strong>Password</strong></label></td></tr>
  <tr><td><input type="password" id="password" name="user[password]" class="inputbox" size="12" alt="password" tabindex="2"/>  <small><a href="/login/forgotten_password" tabindex="5">Forgot?</a></small></td></tr>
  <tr><td align="left"><label for="remember"></label></td></tr>
  <tr><td style="padding-top:26px;">
         <button type="submit" name="Submit" value="Login" style="background-color: #47acdf; color: #fff; padding: 10px 18px; border:none; cursor:pointer;" tabindex="4">Login</button> 
         <input type="checkbox" id="remember" name="remember" class="inputbox" value="1" tabindex="3"/><span style="color: #cccccc;">Remember me</span></td></tr>
  <tr><td style="padding-top:1.5em;">&nbsp;</td></tr>
  <tr><td></td></tr>
  </table>
  <% if flash[:notice] %><div id="notice" align="center"><%= flash[:notice] %><% flash.clear %></div><% end %>
  <% end %>
  </td></tr>
  </table>
  </div>
</div>
<div id="footer">
</div>
<script type="text/javascript">
document.forms[0].username.focus();
</script>
</body>