<!--// begin app\views\layouts\_login_info.rhtml //-->
<br />
<% form_tag( {:controller => 'search', :action => 'search'}, {:method => 'get'}) do %>
<%= text_field_tag 'query', _('Search'), {:size => 10, :class => 'search', :onfocus => "if($('query').value == '#{_('Search')}') {$('query').value = ''; $('query').removeClassName('optional');};" }%>
<% end %>
<!--// end app\views\layouts\_login_info.rhtml //-->