<!DOCTYPE html>

<html>
  <head>
    <%= javascript_include_merged :portal %>
    <%= stylesheet_link_merged :portal %>
    <title>Project Manager Login</title>
    <meta name="Author" content="Erlend Simonsen, EMRL" />
    <meta name="Robots" content="index,follow" />
    <meta name="Description" content="EMRL Project Management - Keeping track of things so you can work" />
    <meta name="Keywords" content="TimeSheets, Project Management, Time Track, Todo List, To-Do List" />

  </head>

  <body>
   <!--// <%= @content_for_layout %>

   <a href="javascript:var timerwindow=window.open('<%=request.protocol%><%=request.host_with_port%>/login/shortlist_auth/<%= current_user.autologin %>','','resizable=1,toolbar=0,location=0,status=0,menubar=0,scrollbars=1,width=300,height=650');timerwindow.focus();" style="font-size:9px;" class="tooltip" title="<%= _'Bookmark this link to quickly open the Timer Window'%>"><%= _'Timer Window'%></a>

//-->
  </body>
</html>
